{% extends "registration/password_reset_template.html" %}{% block content %}
<div class="container" id="password_reset_container">
  <p>
      Le hemos enviado un email con instrucciones para restablecer su contraseña,
      si existe una cuenta asociada al email que has introducido, debería recibirlo pronto.
  </p>

  <p>
      Si no recibes el email, asegurate de que has introducido la dirección de correo electronico
      con la que te registraste. Revisa también tu bandeja de spam.
  </p>
</div>
{% endblock %}
