{% extends "registration/password_reset_template.html" %}
{% block content %}
<div class="container" id="password_reset_container">
  {% if validlink %}
  <p>Por favor introduce tu nueva contraseña dos veces.</p>

  {{ form.new_password1.errors }}{{ form.new_password2.errors }}

  <form method="post">{% csrf_token %}
  <fieldset class="module aligned">
      <div class="form-row field-password1">
          <label for="id_new_password1">Nueva contraseña:</label>
          {{ form.new_password1 }}
      </div>
      <div class="form-row field-password2">
          <label for="id_new_password2">Confirmar contraseña:</label>
          {{ form.new_password2 }}
      </div>
      <input type="submit" value="Change my password" class="btn btn-default password_reset" />
  </fieldset>
  </form>

  {% else %}
      <p>
        El link de reinicio es invalido, posiblemente porque ya ha sido utilizado.
        Por favor solicita un nuevo link.
      </p>
  {% endif %}
</div>
{% endblock %}
