<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Reinicio de contraseña | Wooly</title>
  {% include 'snippets/bootstrap-jquery.html' %}
  {% include 'snippets/general_style.html' %}
</head>
<body>
  <div class="container">
    {% load static %}
    <a href="{% url 'landing' %}">
      <img src="{% static 'images/sheep-logo.png' %}" id="logo_payment" />
    </a>
    <!-- Notification for the user -->
    <div id="payment_completed_wrapper">
      <div id="password_reset_content">
        {% block content %} {% endblock %}
      </div>

    </div>

  </div>
</body>
</html>
