<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>{{ title }} | Wooly</title>
  {% include 'snippets/bootstrap-jquery.html' %}
  {% include 'snippets/general_style.html' %}
</head>
<body>


  <div class="container-fluid" id="accounts_form_container">
    <div id="form_wrapper">
      {% load static %}
      <a href="{% url 'landing' %}"><img src="{% static 'images/sheep-logo.png' %}" id="logo_form" /></a>
      <!-- Login/Register Form -->
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-default account_button" type="submit" value="{{ title }}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <div id='accounts_form_misc'>
        {% if login %}
        <span id="form_second_option">
          No tienes una cuenta? <b><a href="{% url 'accounts:register' %}">Registrate</a></b>
        </span>
        <br />
        <span id="forgot_password"><b><a href="{% url 'accounts:password_reset' %}">
          Has olvidado tu contraseña?</a></b></span>
        {% else %}
        Tienes una cuenta? <b><a href="{% url 'accounts:login' %}">Inicia sesión</a></b>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
