{% extends 'snippets/base.html' %}{% block title %}{{title}}{% endblock %}{% block content %}
<div class="container-fluid" id="index_container">

  <div class="jumbotron jumbotron-fluid" id="jumbo_{{gender}}_01">
    <div class="container-fluid jumbo-text">
      <h1 class="display-3">Indigo</h1>
      <p class="lead">Collection</p>
      <a href="{% url 'products:category' gender=gender category='Novedades' %}">
        <span>Ver Novedades</span>
      </a>
    </div>
  </div>

  <div class="index_second_info">
    <h3>Envios gratuitos en 24 horas.</h3>
    {% load static %}
    <img class="delivery icon" src="{% static 'images/delivery-icon.png' %}" />
  </div>

  <div class="row index_album01">
    <div class="col-12 col-md-6" id="{{gender}}_0101">
    </div>

    <div class="col-12 col-md-6" id="{{gender}}_0102">
    </div>
  </div>

  <div class="index_second_info">
    <h3>Devoluciones gratuitas sin moverte de casa.</h3>
    <img class="return icon" src="{% static 'images/free-return.png' %}" />
  </div>

  <div class="jumbotron jumbotron-fluid" id="jumbo_{{gender}}_02">
    <div class="container-fluid jumbo-text">
      <a href="{% url 'products:category' gender=gender category='Ofertas' %}">
        <span id="ofertas_jumbo">Ver Ofertas</span>
      </a>
    </div>
  </div>

</div>

{% endblock %}
