{% extends 'snippets/base.html' %}{% block title %}{{title}}{% endblock %}{% block content %}
<div class="container-fluid" id="index_container">

  <div class="jumbotron jumbotron-fluid" id="jumbo_{{gender}}_01">
    <div class="container-fluid jumbo-text">
      <h1 class="display-3">Indigo</h1>
      <p class="lead">Collection</p>
    </div>
  </div>

  <div class="index_second_info">
    <h3>Envios gratuitos en 24 horas.</h3>
  </div>

  <div class="row index_album01">
    <div class="col-6" id="{{gender}}_0101">
    </div>

    <div class="col-6" id="{{gender}}_0102">
    </div>
  </div>

  <div class="index_second_info">
    <h3>Devoluciones gratuitas sin moverte de casa.</h3>
  </div>

  <div class="jumbotron jumbotron-fluid" id="jumbo_{{gender}}_02">
    <div class="container-fluid jumbo-text">
      <h1 class="display-3">Indigo</h1>
      <p class="lead">Collection</p>
    </div>
  </div>
  
</div>

{% endblock %}
