<div id="cart_wrapper">
  {% if cart_products.count > 0 %}
  <h4>Cesta ({{ cart_products.count }})</h4>
  <div id="cart_list">
    {% for cp in cart_products %}
    <div id="cart_product" class="container-fluid row">
      <div class="col-4">
        <img class="cart_slider_img" src="{{cp.product.image.url}}" />
      </div>
      <div class="col-8">
        <span class="cart_slider_name cp_info">{{cp.product.name}}</span>
        <span class="cart_slider_price cp_info">{{cp.product.price}} €
          {% if cp.quantity > 1 %}<small> x {{cp.quantity}}</small>{% endif %}</span>
        <span class="cart_slider_size cp_info secondary">Talla: {{cp.size}}</span>
        <span class="cart_slider_quantity cp_info secondary">Cantidad: {{cp.quantity}}</span>
        <a href="{% url 'cart:delete' pk=cp.pk %}"><i class="fa fa-trash-o"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="cart_total">
    <span id="total_price"><b>Total: <span class="result">{{total_price}} €</span></b></span>
    <br />
    <span id="total_shipment">Envío: <span class="result">Gratuito</span></span>
    <a href="{% url 'payment:personal' %}" class="btn btn-default" id="cart_comprar">Comprar</a>
  </div>

  {% else %}
  <h4>Tu bolsa está vacía</h4>
  {% endif %}
</div>
