<div id="navbar_wrapper" class="fixed-top">
  <nav class="navbar navbar-expand-md navbar-custom">
    <!-- Brand and toggle -->
    <a class="navbar-brand" href="{% url 'landing' %}">Wooly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_wrapper"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar_wrapper">
      <!-- Left Elements -->
      <ul class="navbar-nav ml-auto" id="nav_left">
        <li class="nav-item gender">
          <a href="{% url 'products:index' gender='Women' %}">Mujer</a>
        </li>
        <li class="nav-item gender">
          <a href="{% url 'products:index' gender='Men' %}">Hombre</a>
        </li>
        <li class="nav-item">
          {% csrf_token %}
          <form id="search_form" method="GET" action="{% url 'products:search' gender=gender %}">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Buscar" name="q" value="{{ request.GET.q }}" />
          </form>
        </li>
      </ul>

      <!-- Right Elements -->
      <ul class="navbar-nav ml-auto" id="nav_right_elements">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a id="nav_username" href="{% url 'accounts:logout' %}">{{user.username}}</a>
          {% else %}
          <a href="{% url 'accounts:login' %}"><i class="fa fa-user nav_icon"></i></a>
          {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <i id="cart_icon" class="fa fa-shopping-bag nav_icon">
            <span id="cart_icon_count">{{cart_products.count}}</span>
          </i>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div id="sub_menu">
    <ul>
      <li>
        <a href="{% url 'products:category' gender=gender category='Novedades' %}" class="category">
          Novedades</a>
      </li>
      <li>
        <a href="{% url 'products:category' gender=gender category='Ofertas' %}" class="category" >
          Ofertas</a>
      </li>
      <li>
        <a href="{% url 'products:category' gender=gender category='Prendas' %}" class="category">
          Prendas</a>
      </li>
      <li>
        <a href="{% url 'products:category' gender=gender category='Calzado' %}" class="category">
          Calzado</a>
      </li>
      <li>
        <a href="{% url 'products:category' gender=gender category='Complementos' %}" class="category">
          Complementos</a>
      </li>
    </ul>

    {% load static %}
    <a href="{% url 'landing' %}"><img src="{% static 'images/sheep-logo.png' %}" class="logo" /></a>
  </div>

  {% include 'snippets/cart-slider.html' %}

</div>

{% block head %}
<!-- Selected category activation -->
<script>
  var loc = window.location.pathname;
  $("#sub_menu").find(".category").each(function() {
    $(this).toggleClass("active", $(this).attr("href") == loc);
  });
</script>
{% endblock %}
