<div class="sidebar fixed-top">
  <ul>
    <b><a href="{% url 'products:category' gender=gender category='Prendas' %}">Prendas</a></b>
    <li><a href="{% url 'products:category' gender=gender category='Abrigos' %}">Abrigos</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Chaquetas' %}">Chaquetas</a></li>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Vestidos' %}">Vestidos y Monos</a></li>
    {% else %}
    <li><a href="{% url 'products:category' gender=gender category='Americanas' %}">Americanas</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Jerseis' %}">Jerséis y cárdigans</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Sudaderas' %}">Sudaderas</a></li>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Camisas' %}">Camisas y tops</a></li>
    {% else %}
    <li><a href="{% url 'products:category' gender=gender category='Camisas' %}">Camisas</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Camisetas' %}">Camisetas</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Pantalones' %}">Pantalones</a></li>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Faldas' %}">Faldas</a></li>
    {% endif %}
  </ul>
  <ul>
    <b><a href="{% url 'products:category' gender=gender category='Calzado' %}">Calzado</a></b>
    {% if gender == "Men" %}
    <li><a href="{% url 'products:category' gender=gender category='Zapatos' %}">Zapatos</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Mocasines' %}">Mocasines</a></li>
    {% else %}
    <li><a href="{% url 'products:category' gender=gender category='Zapatos_tacon' %}">Zapatos tacón</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Zapatos_planos' %}">Zapatos planos</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Botas' %}">Botas y botines</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Deportivas' %}">Deportivas</a></li>
  </ul>
  <ul>
    <b><a href="{% url 'products:category' gender=gender category='Complementos' %}">Complementos</a></b>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Bolsos' %}">Bolsos</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Cinturones' %}">Cinturones</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Bufandas' %}">Bufandas y fulares</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Gorros' %}">Gorros y guantes</a></li>
    {% if gender == "Men" %}
    <li><a href="{% url 'products:category' gender=gender category='Corbatas' %}">Corbatas</a></li>
    {% endif %}
  </ul>
</div>
