<div class="sidebar fixed-top">
  <ul>
    <b><a href="{% url 'products:category' gender=gender category='Prendas' %}" class="subcategory">
      Prendas</a></b>
    <li><a href="{% url 'products:category' gender=gender category='Abrigos' %}" class="subcategory">
      Abrigos</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Chaquetas' %}" class="subcategory">
      Chaquetas</a></li>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Vestidos' %}" class="subcategory">
      Vestidos y Monos</a></li>
    {% else %}
    <li><a href="{% url 'products:category' gender=gender category='Americanas' %}" class="subcategory">
      Americanas</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Jerseis' %}" class="subcategory">
      Jerséis y cárdigans</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Sudaderas' %}" class="subcategory">
      Sudaderas</a></li>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Camisas' %}" class="subcategory">
      Camisas y tops</a></li>
    {% else %}
    <li><a href="{% url 'products:category' gender=gender category='Camisas' %}" class="subcategory">
      Camisas</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Camisetas' %}" class="subcategory">
      Camisetas</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Pantalones' %}" class="subcategory">
      Pantalones</a></li>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Faldas' %}" class="subcategory">
      Faldas</a></li>
    {% endif %}
  </ul>
  <ul>
    <b><a href="{% url 'products:category' gender=gender category='Calzado' %}" class="subcategory">
      Calzado</a></b>
    {% if gender == "Men" %}
    <li><a href="{% url 'products:category' gender=gender category='Zapatos' %}" class="subcategory">
      Zapatos</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Mocasines' %}" class="subcategory">
      Mocasines</a></li>
    {% else %}
    <li><a href="{% url 'products:category' gender=gender category='Zapatos_tacon' %}" class="subcategory">
      Zapatos tacón</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Zapatos_planos' %}" class="subcategory">
      Zapatos planos</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Botas' %}" class="subcategory">
      Botas y botines</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Deportivas' %}" class="subcategory">
      Deportivas</a></li>
  </ul>
  <ul>
    <b><a href="{% url 'products:category' gender=gender category='Complementos' %}" class="subcategory">
      Complementos</a></b>
    {% if gender == "Women" %}
    <li><a href="{% url 'products:category' gender=gender category='Bolsos' %}" class="subcategory">
      Bolsos</a></li>
    {% endif %}
    <li><a href="{% url 'products:category' gender=gender category='Cinturones' %}" class="subcategory">
      Cinturones</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Bufandas' %}" class="subcategory">
      Bufandas y fulares</a></li>
    <li><a href="{% url 'products:category' gender=gender category='Gorros' %}" class="subcategory">
      Gorros y guantes</a></li>
    {% if gender == "Men" %}
    <li><a href="{% url 'products:category' gender=gender category='Corbatas' %}" class="subcategory">
      Corbatas</a></li>
    {% endif %}
  </ul>
</div>

{% block head %}
<!-- Selected category activation -->
<script>
  var loc = window.location.pathname;
  $(".sidebar").find(".subcategory").each(function() {
    $(this).toggleClass("active", $(this).attr("href") == loc);
  });
</script>
{% endblock %}
