<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Datos Personales | Wooly</title>
  {% include 'snippets/bootstrap-jquery.html' %}
  {% include 'snippets/general_style.html' %}
</head>
<body>
  <div class="container">
    <div id="payment_logo_wrapper">
      {% load static %}
      <a id="wrapper_logo_payment" href="{% url 'landing' %}">
        <img src="{% static 'images/sheep-logo.png' %}" id="logo_payment" />
      </a>
    </div>

    <div id="step_wizard">
      <div class="row">
        <div class="step active">
          <button type="button" class="btn btn-primary btn-circle">1</button>
          <p>Identifícate</p>
        </div>
        <div class="step active">
          <button type="button" class="btn btn-primary btn-circle">2</button>
          <p>Datos Personales</p>
        </div>
        <div class="step active">
          <button type="button" class="btn btn-primary btn-circle">3</button>
          <p>Métodos de Envío y Pago</p>
        </div>
        <div class="step active">
          <button type="button" class="btn btn-primary btn-circle">4</button>
          <p>Confirmación</p>
        </div>
      </div>
    </div>

    <div id="payment_confirmation_wrapper" class="row">
      <div class="col-9">

        <div id="payment_products_list">
          {% for cp in cart_products %}

          <div id="cart_product" class="container-fluid row">
            <div class="col-2">
              <img class="cart_slider_img" src="{{cp.product.image.url}}" />
            </div>
            <div class="col-10">
              <span class="confirmation_info price col-3">
                <span class="prod_label">Precio</span>
                {{cp.product.price}}€
              </span>
              <span class="confirmation_info col-2">
                <span class="prod_label">Talla</span>
                {{cp.size}}
              </span>
              <span class="confirmation_info col-7">
                <span class="prod_label">Producto</span>
                {{cp.product.name}}
              </span>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>
      <div class="col-3">
        <span id="total_price"><b>Total: <span class="result">{{total_price}}€</span></b></span>
        <br />
        <span id="total_shipment">Envío: <span class="result">Gratuito</span></span>
        <a href="{% url 'payment:complete' %}" class="btn btn-default" id="cart_comprar">Comprar</a>
      </div>
    </div>
  </div>
</body>
</html>
