<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Datos Personales | Wooly</title>
  {% include 'snippets/bootstrap-jquery.html' %}
  {% include 'snippets/general_style.html' %}
</head>
<body>
  <div class="container">
      {% load static %}
      <a href="{% url 'landing' %}">
        <img src="{% static 'images/sheep-logo.png' %}" id="logo_payment" />
      </a>
    <div id="step_wizard">
      <div class="row">
        <div class="step active">
          <button type="button" class="btn btn-primary btn-circle">1</button>
          <p>Identifícate</p>
        </div>
        <div class="step active">
          <button type="button" class="btn btn-primary btn-circle">2</button>
          <p>Datos Personales</p>
        </div>
        <div class="step">
          <button type="button" class="btn btn-primary btn-circle">3</button>
          <p>Métodos de Envío y Pago</p>
        </div>
        <div class="step">
          <button type="button" class="btn btn-primary btn-circle">4</button>
          <p>Confirmación</p>
        </div>
      </div>
    </div>
    <div class="payment_form">
      <form method="post">
        <h4>Datos Personales</h4>
        {% csrf_token %}
        {{form.as_p}}
        <br />
        <button type="submit" class="btn btn-default payment_button">Continuar</button>
      </form>

    </div>

  </div>
</body>
</html>
